// color
$color: (
  "primary": #db9e3f,
  "attack": #791a16,
  "survive": #33332c,
  "difficult": #805300,
  "skill": #1f3695,
  "info": #4b67af,
  "blue": #4394e4,
  "white": #ffffff,
  "white-1": #fcfcfc,
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "gery": #999,
  "gery-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000000,
);
$border-color: map-get(
  $map: $color,
  $key: light-1,
);

// font-size
$base-font-size: 1rem;
$font-size: (
  "xxs": 0.6154,
  // 8px
    "xs": 0.7692,
  // 10px
    "sm": 0.9231,
  //12px
    "md": 1,
  // 13px
    "lg": 1.0769,
  //14px
    "xl": 1.2308,
  // 16px,,,,,,,,,,,,,
    "xxl": 1.5385,
  // 20px,,,,,,,,,,,,,,,
);

// flex
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
// spacing
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

// position
$position: (
  f: fixed,
  a: absoluted,
  r: relative,
);
